<a href="https://colab.research.google.com/github/aryanchaprana/aryanchaprana/blob/main/ML_15(HANDLING_CATEGORICAL_MISSING_DATA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/content/train (3).csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [14]:
df.isnull().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [4]:
df

     FireplaceQu GarageQual  SalePrice
0            NaN         TA     208500
1             TA         TA     181500
2             TA         TA     223500
3             Gd         TA     140000
4             TA         TA     250000
...          ...        ...        ...
1455          TA         TA     175000
1456          TA         TA     210000
1457          Gd         TA     266500
1458         NaN         TA     142125
1459         NaN         TA     147500

[1460 rows x 3 columns]

In [13]:
df['GarageQual'].value_counts()

GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

In [16]:
from sklearn.impute import SimpleImputer

In [19]:
imputer=SimpleImputer(strategy='most_frequent')

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['SalePrice']),df['SalePrice'],test_size=0.2,random_state=42)

In [38]:
X_train=imputer.fit_transform(X_train)
X_test=imputer.transform(X_test)

In [37]:
 from sklearn.compose import ColumnTransformer

In [36]:
print('''trf=ColumnTransformer([
    ('first',imputer,['FireplaceQu']),
    ('second',imputer,['GarageQual	'])
], remainder='passthrough')''')

trf=ColumnTransformer([
    ('first',imputer,['FireplaceQu']),
    ('second',imputer,['GarageQual	'])
], remainder='passthrough')

In [39]:
X_train

array([['Gd', 'TA'],
       ['TA', 'TA'],
       ['Gd', 'TA'],
       ...,
       ['Gd', 'TA'],
       ['Gd', 'TA'],
       ['TA', 'TA']], dtype=object)

In [ ]:
imputer1=SimpleImputer(strategy='constant',fill_value='missing')#missing ki jga jo chaho vo rakh skte ho